.pushable {
  background: hsl(340deg 100% 32%);
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  position: relative;
  
  &:hover {
    .front {
      transform: translate(-5px, -5px);
      transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
  }
  
  &:active {
    .front {
      transform: translate(-2px, -2px);
      transition: transform 34ms;
    }
  }
  
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
  transform: translate(-4px, -4px);
}