.app-begin-visit-udemy {
    font-family: var(--font-craft);
    
    .pushable {
      background: var(--color-dark);
      border: none;
      padding: 0;
      cursor: pointer;
      position: relative;
      border-radius: 24px;
    }
  
    .front {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 12px 28px 12px;
      border-radius: 24px;
      font-size: 1.25rem;
      background: rgb(146 237 255);
      color: var(--color-dark);
      transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
      transform: translate(-6px, -6px);
      text-align: center;
      border: 1px solid var(--color-dark);
      position: relative;
      z-index: 1;
    }
    
    .app-begin-visit-udemy-img {
      width: 75px;
      height: 60px;
      perspective: 500px;
      transform-style: preserve-3d;
      position: relative;
      margin-top: 12px;
      
      .shadow-element {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        filter: blur(4px);
        z-index: -1;
        opacity: 0.8;
      }
      
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
        transform-origin: center center;
        will-change: transform;
        position: relative;
        z-index: 1;
      }
    }
}